body {
	margin: 0;
	background: #fff1ab;
}
header {
	overflow: hidden;
	border-bottom: 1px solid;
}
.nav {
	overflow: hidden;
}
.nav li {
	float: left;
	list-style-type: none;
	cursor: default;
}
.nav a {
	padding: 10px;
}
.wrap.main {
	display: flex;
}
#leftMenu {
	min-width: 200px;
    border-right: 1px solid;
    padding: 1em 0.5em 0.5em 1em;
    box-sizing: border-box;
}
#leftMenu ul {
	list-style-type: none;
    padding-left: 0.5em;
    margin: 0;
}
#leftMenu .nv {
	cursor: default;
}
#leftMenu ul li:before {
    content:  "-";
    position: relative;
    left: -0.5em;
    top: -0.1em;
}
#content {
	flex-grow: 1;
    padding: 1em;
}