body {
	margin: 0;
	background: #fff1ab;
	font: 13px Verdana;
}
header {
	overflow: hidden;
	border-bottom: 1px solid;
}
.nav {
	overflow: hidden;
}
.nav li {
	float: left;
	list-style-type: none;
	cursor: default;
}
.nav a {
	padding: 10px;
}
a.nv {
	user-select: none;
}
.wrap.main {
	display: flex;
}
#leftMenu {
	min-width: 210px;
    border-right: 1px solid;
    padding: 1em 0.5em 1em 1em;
    box-sizing: border-box;
}
#leftMenu ul {
	list-style-type: none;
    padding-left: 0.5em;
    margin: 0;
}
#leftMenu .nv {
	cursor: default;
}
#leftMenu ul li:before {
    content:  "-";
    position: relative;
    left: -0.5em;
    top: -0.1em;
}
.hello {
	margin: 2%;
    line-height: 1.4em;
}
.hello section {
    margin: 10px 0;
}
.hello ul {
	padding-left: 1%;
}
.hello ul li {
	margin-left: 22px;
}
.hello a[target="_blank"] {
    background: url(blank.png) 2px 4px no-repeat;
    padding-left: 15px;
    color: #0000CD;
}
.hello a:visited {
	color: #0000CD;
}
#content {
	flex-grow: 1;
    padding: 1em;
}
#content p {
    margin: 0.5em 0;
}
#content p:first-of-type {
	margin-top: 0;
}
#content ul {
	padding: 0;
}
#content ul li {
	margin-left: 22px;
}
.mImg {
	float: right;
    width: 228px;
    margin: 0px 3% 1% 3%;
    padding: 4px;
    border: 1px solid rgba(161, 161, 161, 0.5);
}
.mImg img {
	width: 100%;
}
.mImg figcaption {
    margin-top: -5px;
    padding: 5px 4px 9px 4px;
    font-size: 90%;
}
footer {
	border-top: 1px solid;
}